:root {
    background-color: #EFEFEF;
    color: #345327;
    font-family: "outfit";
}

.imagecontainer {
    display: flex;
    height: 250px;
    filter: saturate(50%);
}

.imagecontainer img {
    border-radius: 20px;
    height: 222px;
    width: 282px;
    margin-right: 32px;
    filter: sepia(40%);
    transition: ease-in-out 500ms;
    transition-property: "scale";
}

.imagecontainer img:hover {
    scale: 1.5;
}

svg {
    margin-bottom: 8px;
}

/* nav ul li a {
    text-decoration: none;
    color: #345327;
    margin-top: 5px;
    transition-property: "color";
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
} */

main {
    position: absolute;
    margin-left: 10%;
    top: 8%;
    z-index: -1;
}

@media only screen and (width: 500px) {
    body {
        background-color: black;
    }
}
