:root {
    background-color: #EFEFEF;
    color: #345327;
    font-family: "outfit";
}

.image-wrapper {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    filter: saturate(50%);
}

.inner-img {
    margin-right: 32px;
    filter: sepia(10%);
    transition: 500ms;
    transition-property: "scale";
}

.inner-img:hover {
    transform: scale(1.1) !important;
}

svg {
    margin-bottom: 8px;
}

/* nav ul li a {
    text-decoration: none;
    color: #345327;
    margin-top: 5px;
    transition-property: "color";
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
} */

main {
    position: absolute;
    margin-left: 10%;
    top: 8%;
    z-index: -1;
}

@media only screen and (width: 500px) {
    body {
        background-color: black;
    }
}
