:root {
    background-color: #EFEFEF;
    color: #345327;
    font-family: "outfit";
}

.imagecontainer {
    display: flex;
    height: 30px;
    filter: saturate(50%);
}

.imagecontainer img {
    border-radius: 20px;
    height: fit-content;
    width: 300px;
    margin-right: 64px;
    filter: sepia(10%);
    transition: none;
}

.imagecontainer .shawty {
    height: 300px;
}

svg {
    margin-bottom: 8px;
}

/* nav ul li a {
    text-decoration: none;
    color: #345327;
    margin-top: 5px;
    transition-property: "color";
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
} */

main {
    position: absolute;
    margin-left: 15%;
    top: 8%;
    z-index: -1;
}

@media only screen and (width: 500px) {
    body {
        background-color: black;
    }
}
